@model ChanLap.Web.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "Quên mật khẩu?";
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chấn Lập | Login</title>
    <link href="~/content/bootstrap.min.css" rel="stylesheet">
    <link href="~/font-awesome/css/font-awesome.css" rel="stylesheet">
    <link href="~/content/animate.css" rel="stylesheet">
    <link href="~/content/style.css" rel="stylesheet">
</head>
<body class="gray-bg">
    <div class="loginColumns animated fadeInDown">
        <div class="row">
            <div class="col-md-6">
                <h2 class="font-bold">Welcome to Chấn Lập</h2>
                <p>
                    Bạn quên mật khẩu?
                </p>
                <p>
                    Bạn hãy nhập email và kiểm tra hòm thư của bạn sau khi ấn "Submit"
                </p>
            </div>
            <div class="col-md-6">
                <div class="ibox-content">
                    @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        <div class="form-group">
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @required = "", @placeholder = "Email" })
                            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                        </div>

                        <button type="submit" class="btn btn-primary block full-width m-b">Submit</button>

                    }

                </div>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-md-6">
                Copyright Chấn Lập
            </div>
            <div class="col-md-6 text-right">
                <small>© @System.DateTime.Now.Year</small>
            </div>
        </div>
    </div>
</body>
</html>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

